<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<link rel="stylesheet" href="style/index.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

	<div class="page-top">
		<div class="page-content">
			<h2>任务计划列表</h2>
		</div>
	</div>

	<div class="main">
		<h3 class="big-title">添加任务：</h3>
		<input placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务" type="text" class="task-input" v-on:keyup.13="addTodo" v-model="todo" />
		<ul class="task-count">
			<li class="nav all" :class="{active: navStatus === 'all'}" @click="switchNav('all')">
				所有任务
			</li>
			<li class="nav unfinish" :class="{active: navStatus === 'unfinish'}" @click="switchNav('unfinish')">
				未完成任务
				<span v-show="noCompelate">{{noCompelate > 99 ? 99 : noCompelate}}</span>
			</li>
			<li class="nav finish" :class="{active: navStatus === 'finish'}" @click="switchNav('finish')">
				已完成任务
			</li>
		</ul>

		<h3 class="big-title">任务列表：</h3>
		<div class="tasks">
			<span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
			<ul class="todo-list">
				<li class="todo" v-for="(item, index) in filterList" :class="{completed: item.isChecked}">
					<input type="checkbox" class="toggle" v-model="item.isChecked" >
					<label>{{item.title}}</label>
					<span class="fr">
						<span class="action delete" @click="deleteTodo(item)"> 删除</span>
						<span class="action detail" @click="showDetail(item)"> 详细</span>
					</span>
				</li>
			</ul>
			<div class="msg-container mask" v-show="isDelete">
				<div class="msg-content">
					<div class="pop-title">确定删除?</div>
					<div class="pop-content">
						<div>
							<button class="primary confirm" @click="confirmDeleteTodo()">确定</button>
							<button class="cancel" @click="cancelTodo()">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="task-detail mask" v-show="isDetail">
				<div class="detail-con">
					<div class="input-item">
						<span class="cancel" @click="cancelTodo()">关闭</span>
					</div>
					<div class="input-item">
						<input type="text" name="content" v-model="selectItem.title">
					</div>
					<div class="desc input-item">
						<textarea name="desc" v-model="selectItem.desc"></textarea>
					</div>
					<div class="remind input-item">
						<label>提醒时间</label>
						<input class="datetime" name="remind_date" type="datetime-local" v-model="selectItem.date">
					</div>
					<div class="input-item">
						<button type="submit" class="update" @click="updateTodo()">更新</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/app.js"></script>
</body>

</html>